.comment-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 12px 16px;
  margin: 10px auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid grey;
}
.user-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-area p {
  word-break: break-word;
  max-width: 100%;
}
.user-area p {
  margin: 4px 0 0;
  color: #666;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}
.username {
  cursor: pointer;
  color: #2980b9;
}
.tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: white;
  text-align: left;
  padding: 8px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  margin-top: 4px;
  transition: opacity 0.2s ease-in-out;
  font-size: 12px;
  white-space: nowrap;
  font-size: 15px;
}
.tooltip-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.voted-up {
  color: rgb(14, 252, 14);
}
.voted-down {
  color: red;
}