.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.comments-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.comment-post {
  display: flex;
}
.comment-post button {
  padding: 10px 30px;
  background-color: #63d0f4;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}
.comments-box {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 400px;
  border: 1px solid black;
  width: 650px;
  padding: 10px;
  border-radius: 10px;
}