.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  gap: 10px;
  margin-bottom: 10px;
  width: 200px;

}
.movie-card img{
 max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}