.movie-cont {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(225, 211, 211);
}

.movie-details img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.movie-info {
  flex: 1;
  min-width: 280px;
  max-width: 600px;
}

.movie-info h1 {
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
