.movie-card {
 display: flex;
 align-items: center;
 gap: 15px;
 margin-bottom: 20px;
 width: 100%;
 max-width: 800px;
 padding: 10px;
 border-radius: 10px;
 background-color: #fff;
 transition: box-shadow 0.3s ease;
 font-family: Arial, Helvetica, sans-serif;
 font-size: larger;
}
.movie-card:hover {
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.movie-card img {
 width: 120px;
 height: 180px;
 object-fit: cover;
 border-radius: 5px;
}