.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  background-color: #141414;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.nav-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: #e50914;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #4f46e5;
  text-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

.logo {
  height: 70px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .nav-title {
    font-size: 1.2rem;
  }

  .logo {
    height: 35px;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }
}
