.sort-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.sort-type {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #eee;
  border: none;
  color: #333;
  padding: 8px 16px;
  text-align: center;
  margin: 4px 6px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.sort-type:hover {
  background-color: #007bff;
  color: white;
}
.active-sort {
  background-color: #007bff;
  color: white;
}
